*.iml
.gradle
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx




bin/
gen/
build/
.classpath
.project
proguard/
*.ipr
*.iws
Thumbs.db
gradle-app.setting
*.hprof hs_err*